@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background:#9cadce;
    color: #fff;
}
.container{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 18px;
}
.form{
    border:2px solid #d1cfe2;
    width:500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.5);

}
.first-name{
    margin: 10px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 300px;
    height: 30px;
}
.middle-name{
    margin: 10px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 300px;
    height: 30px;
}
.last-name{
    margin: 10px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 300px;
    height: 30px;
}
.number{
    margin: 10px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 300px;
    height: 30px;
}
.Address{
    margin: 10px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 300px;
    height: 30px;
}
.color{
    margin: 10px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 300px;
    height: 30px;
}
button{
    padding: 10px 60px;
    margin-left: 80px;

    border-radius: 10px;
    background: #205565;
    color: #fff;
    margin-top:20px;
}
button:hover{
    background:#347893;
}
.story-container{
    border:2px solid  #d1cfe2;
    border-radius:10px;
    box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.5);
    height: 200px;
    width:450px;
    padding:20px;
    line-height: 1.5em;
    font-size: 18px;
    margin-left:450px;
    color: #fff;
    
}

.error{
    padding: 5px;
    text-align: center;
}
@media(max-width:500px){
    .form{
        display: block;
        width:400px;
        height: 550px;

    }
    .story-container{
        margin-left:30px;
        width:400px;
    }
}  

